h1 {
    color: #ddff00;
    font-family: 'Chilanka', cursive;
    text-align: center;
    /* background-image: url("../../03/img/moelleux-chocolat.jpg"); */
    border: 2px solid red;
}

.mon-premier-paragraphe {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.p2 {
    color: pink;
}

.important {
    color: red;
    font-weight: bold;
}

.debut-paragraphe {
    font-size: 30px;
    color: blue;
}

.ma-div {
    text-decoration: underline;
}

div.ma-div p {
    color: yellow;
}

#moelleux-chocolat {
    float: right;
    width: 100px;
}

.clear {
    clear: both;
}

body {
    background-color: #c2d5f5;
}

.center {
    text-align: center;
}

.bulle {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-color: #20cdda;
    border: 2px solid #6ea0f8;
    border-radius: 20% 40% 60% 80% / 20%;
    box-shadow: 10px 10px 10px #ddff00;
    text-shadow: 5px 5px 5px black;
    /* Mise en page du texte */
    color: white;
    font-size: 2em;
}

.bulle:hover {
    background-color: wheat;
    box-shadow: 10px 10px 20px #aaff00;
}