* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: black;
}

h1 {
    font-size: 180px;
}

h2 {
    font-size: 36px;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: grey;
}

a:hover {
    font-weight: 900;
}

.container {
    /* border: 1px solid red; */
    width: 960px;
    margin: 0 auto;
}


/* Header */

header {
    min-height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    color: grey;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline;
}

header nav li:nth-child(1n+2) {
    margin-left: 20px;
}


/* Sections */

section {
    min-height: 80vh;
}


/* Section Titre */

section.titre {
    background-image: url(../img/background-pains.webp);
    background-size: cover;
    display: flex;
    align-items: center;
}

section.titre .container {
    text-align: center;
}


/* Section Savoir-faire */

.savoir-faire .container {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.savoir-faire h2 {
    margin-bottom: 50px;
}

.savoir-faire .produits {
    display: flex;
}

.savoir-faire figure {
    margin: 20px;
}

.savoir-faire figure img {
    width: 100%;
}

.savoir-faire figcaption {
    font-weight: 900;
}


/* Section Illustration farine */

section.illustration-farine {
    background-image: url(../img/background-farine-eau.webp);
    background-size: cover;
}


/* Sections a-propos & produits*/

section.a-propos-produits .container {
    display: flex;
}

section.a-propos-produits .texte {
    width: 100%;
}

section.a-propos-produits .texte>div {
    margin: 50px;
}

section.a-propos-produits .texte h2 {
    font-family: "Pacifico", cursive;
}

section.a-propos-produits .texte h3 {
    font-size: 30px;
}

section.a-propos-produits .texte p {
    margin-top: 50px;
    line-height: 150%;
    text-align: justify;
}

section.a-propos-produits .image {
    background-size: cover;
    height: 600px;
    width: 100%;
}

section.a-propos .image {
    background-image: url(../img/a-propos.webp);
}

section.produits .image {
    background-image: url(../img/produits.webp);
    background-position: right 50%;
}


/* Footer */

footer {
    min-height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    color: grey;
    padding: 20px 10px;
}

footer .container {
    text-align: center;
}

footer h2 {
    color: white;
}

footer div {
    margin-top: 20px;
    width: 100%;
}

footer .form-newsletter {
    display: flex;
}

footer input {
    width: 100%;
    height: 30px;
    border: 0;
    background-color: black;
    color: white;
}

footer input[type="email"] {
    border-bottom: 1px solid white;
}

footer input[type=submit] {
    width: 100px;
    color: burlywood;
    cursor: grab;
}

footer p {
    margin-top: 40px;
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
    h1 {
        font-size: 140px;
    }
    h2 {
        font-size: 30px;
    }
    header .container {
        flex-direction: column-reverse;
    }
    header nav li {
        display: block;
        margin: 20px 0;
    }
    header nav li:nth-child(1n+2) {
        margin-left: 0;
    }
    header p {
        margin-top: 20px;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .container {
        width: 540px;
    }
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 20px;
    }
    .savoir-faire .produits {
        flex-direction: column;
    }
    .savoir-faire figure {
        margin: 0 0 50px 0;
    }
    section.a-propos-produits .container {
        flex-direction: column;
    }
    section.a-propos-produits .texte>div {
        margin: 50px 0;
    }
    footer .form-newsletter {
        flex-direction: column;
    }
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}