    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        color: black;
        box-sizing: content-box;
    }
    
    h1 {
        font-size: 180px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    .container {
        /* border: 1px solid red; */
        width: 960px;
        margin: 0 auto;
    }
    
    header {
        min-height: 80px;
        background-color: black;
    }
    
    section {
        min-height: 80vh;
    }
    
    footer {
        min-height: 80px;
        background-color: black;
    }
    /* Section Titre */
    
    section.titre {
        background-image: url(../img/background-pains.webp);
        background-size: cover;
        display: flex;
        align-items: center;
    }
    
    section.titre .container {
        text-align: center;
    }
    /* Section Savoir-faire */
    
    .savoir-faire .container {
        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
    }
    
    .savoir-faire h2 {
        margin-bottom: 50px;
    }
    
    .savoir-faire .produits {
        display: flex;
    }
    
    .savoir-faire figure {
        margin: 20px;
    }
    
    .savoir-faire figure img {
        width: 100%;
    }
    /* Section Illustration farine */
    
    section.illustration-farine {
        background-image: url(../img/background-farine-eau.webp);
        background-size: cover;
    }
    /* Medium devices (tablets, less than 992px) */
    
    @media (max-width: 991.98px) {
        .container {
            width: 720px;
        }
        h1 {
            font-size: 140px;
        }
        h2 {
            font-size: 30px;
        }
    }
    /* Small devices (landscape phones, less than 768px) */
    
    @media (max-width: 767.98px) {
        .container {
            width: 540px;
        }
        h1 {
            font-size: 80px;
        }
        h2 {
            font-size: 20px;
        }
        .savoir-faire .produits {
            flex-direction: column;
        }
        .savoir-faire figure {
            margin: 0 0 50px 0;
        }
    }
    /* Extra small devices (portrait phones, less than 576px) */
    
    @media (max-width: 575.98px) {
        .container {
            width: 100%;
            padding: 0 10px;
        }
    }