/* https://getbootstrap.com/docs/4.6/layout/overview/ */


/* Extra small devices (portrait phones, less than 576px) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
a,
input,
textarea {
    font-family: 'Karla', sans-serif;
    font-size: 3.5vw;
    color: #707070;
}

h1,
h2 {
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: #130F49;
    font-size: 9vw;
    margin: 20px 0;
}

h2 {
    color: #33A1CB;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 96%;
    margin: 20px auto;
}

section,
footer {
    margin-top: 100px;
}


/* Header */

header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 60px;
    height: 60px;
}

nav {
    margin-top: 20px;
}

nav ul {
    display: flex;
    font-weight: 800;
}

nav li {
    list-style: none;
}

nav li:nth-child(1n+2) {
    margin-left: 40px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #33A1CB;
}


/* A propos */

#a-propos {
    display: flex;
    flex-direction: column;
}

#a-propos p {
    line-height: 30px;
}

#a-propos img {
    width: 100%;
}

.yohann {
    background-color: #D9F3FF;
    border-radius: 50% 20px 50% 50%;
}


/* Réalisations */

#realisations .gallerie {
    display: flex;
    flex-direction: column;
}

#realisations .gallerie img {
    width: 100%;
    border-radius: 20px;
}


/* Contact */

#contact {
    background-color: #D9F3FF;
    border-radius: 20px;
    padding: 20px 10px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: #F7F9FC;
    border: 1px solid #A8C4E5;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

label,
input,
textarea {
    margin-top: 20px;
}

::placeholder {
    color: #A8C4E5;
}