/* https://getbootstrap.com/docs/4.6/layout/overview/ */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
    body,
    a,
    input,
    textarea {
        font-size: 14px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}